name: vedanta-systems

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.cloudflare
      args:
        - VITE_GITHUB_TOKEN=${VITE_GITHUB_TOKEN}
    container_name: vedanta-systems-prod
    restart: unless-stopped
    volumes:
      - /home/vedanta/photos:/app/dist/photos:ro
      - /home/vedanta/.cloudflared:/root/.cloudflared:ro
    networks:
      - vedanta-systems-prod
      - luv-prod

networks:
  vedanta-systems-prod:
    name: vedanta-systems-prod
    driver: bridge
  luv-prod:
    name: luv-prod
    external: true
